body{
    text-align: left;
    background-color: lightgrey;
}

 li{
    list-style: none;
    font-size: 1.5rem;
    margin: 0.3rem;
    position: relative;
    right: 0rem;
} 
.check{
    position: relative;
    right: 0rem;
}
.check:checked + label{
    text-decoration: line-through;
    color: grey;
}
.delete{
    font-size: 0.5rem;
    height: 1rem;
    position: relative;
    right: 1rem;
    background-color: red;
    border-radius: 10%;
    color: white;
    opacity: 0.1;
}
label:hover{
    color: white;
}
.delete:hover{
    opacity: 1;
}